
<%- include("partials/aboutheader"); -%>
    <h1> <%=startingTitle%> </h1>
<br/>

  <% posts.forEach(function(post){ %>

    <h1><%=post.title%></h1>
    <p>
    <% post.content.forEach(function(content){%>
        <%=content.substring(0, 100) + " ..."%>
    <%})%> 
    <a href="/posts/<%=post.title%>">Read More</a>
    </p>
    <% }) %>

<footer class="footer-padding bg-light "> 
    <div class="footer_choice">
       <div class="footer_contents"> 
         <%-include('partials/footer.ejs');-%>
       </div>
    </div>
        
</footer>

</body> 